<html>
<head>
	<title>CV</title>
	<script src="js/handlebars.js"></script>
	<script src="js/jquery-1.9.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="style/cv.css"></link>
</head>
<body>
	<div id="entry">
		<h1>Hello Handlebars!</h1>
	</div>

<script id="entry-template" type="text/x-handlebars-template">
	  <div class="body">
	    <h1>Curriculum Vitae for {{fn}} {{ln}}</h1>
	    <p>{{intro}}</p>
	    <h2>Key Competencies</h2>
		<dl>
			<dt>Database</dt>
			<dd>
				{{#each key.db}}
					<span class="comma-separated">{{this}}</span>
				{{/each}}
			</dd>
		</dl>
	  </div>
</script>
<script>
	var source   = $( "#entry-template" ).html();
	var template = Handlebars.compile( source );
	$.getJSON(
		'cv/tsk',
		function(data) {
			$("#entry").html( template(data) )
		}
	);
</script>
	
</body>
</html>